# As Cartographer images need to be build with optimizations enabled, we build
# the whole tree optimized by default. If you want to build a sub-tree in a
# different configuration you can specify `-c fastbuild` or `-c dbg` on the
# command line.
build -c opt

# Print output when tests fail. No idea why this isn't the default.
test --test_output=errors
# Don't run integration tests and tests that need docker by default
test --test_tag_filters="-external,-requires-docker"

# Workaround https://github.com/bazelbuild/bazel/issues/3236
build --sandbox_tmpfs_path=/tmp

# This uses fixed values of PATH, LD_LIBRARY_PATH and TMPDIR. It allows cache
# hits between CLI and IntelliJ builds, and will also be useful if we switch to
# a shared cache.
build --experimental_strict_action_env
