# As Cartographer images need to be build with optimizations enabled, we build
# the whole tree optimized by default. If you want to build a sub-tree in a
# different configuration you can specify `-c fastbuild` or `-c dbg` on the
# command line.
build -c opt

# Print output when tests fail. No idea why this isn't the default.
test --test_output=errors
# Don't run integration tests and tests that need docker by default
test --test_tag_filters="-external,-requires-docker"

# Workaround https://github.com/bazelbuild/bazel/issues/3236
build --sandbox_tmpfs_path=/tmp

# Workaround https://github.com/bazelbuild/bazel/issues/6136
startup --host_jvm_args=-XX:+UnlockDiagnosticVMOptions --host_jvm_args=-XX:-InlineUnsafeOps

# This uses fixed values of PATH, LD_LIBRARY_PATH and TMPDIR. It allows cache
# hits between CLI and IntelliJ builds, and will also be useful if we switch to
# a shared cache.
build --experimental_strict_action_env

# Workaround https://github.com/googlecloudrobotics/core/issues/9
# Background: Bazel 0.27 changes how the Python runtime is obtained resulting
# in Python 3 being used by default instead of Python 2. This causes the build
# to fail because the version of PyYAML that pip_import downloads is only
# compatible with Python 2. Until we find a fix for this, we force the use of
# Python 2.
build --host_force_python=PY2
