apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-ingress-controller
data:
  # The token-vendor checks the Original-URI header to accept tokens from query
  # parameters.
  proxy-add-original-uri-header: "true"
  # NGINX uses a single connection pool for all kind of connection, including grpc,
  # which leads to sporadic errors:
  #   "no connection data found for keepalive http2 connection while sending request to upstream,"
  # https://github.com/kubernetes/ingress-nginx/issues/4836
  upstream-keepalive-requests: "1"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-ingress-controller
  labels:
    k8s-app: nginx-ingress-controller
spec:
  selector:
    matchLabels:
      k8s-app: nginx-ingress-controller
  template:
    metadata:
      labels:
        k8s-app: nginx-ingress-controller
    spec:
      serviceAccountName: ingress-nginx
      dnsPolicy: ClusterFirst
      containers:
        - name: nginx-ingress-controller
          image: k8s.gcr.io/ingress-nginx/controller-chroot:v1.2.1
          lifecycle:
            preStop:
              exec:
                command:
                  - /wait-shutdown
          args:
            - /nginx-ingress-controller
            - --v=1
            - --default-backend-service=kube-system/default-http-backend
            - --publish-service=$(POD_NAMESPACE)/nginx-ingress-lb
            - --election-id=ingress-controller-leader
            - --ingress-class=nginx
            - --configmap=$(POD_NAMESPACE)/nginx-ingress-controller
            - --default-ssl-certificate=default/tls
          securityContext:
            capabilities:
              drop:
                - ALL
              add:
                - NET_BIND_SERVICE
                - SYS_CHROOT
            runAsUser: 101
            allowPrivilegeEscalation: true
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: LD_PRELOAD
              value: /usr/local/lib/libmimalloc.so
          livenessProbe:
            httpGet:
              path: /healthz
              port: 10254
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /healthz
              port: 10254
              scheme: HTTP
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
          ports:
            - name: http
              containerPort: 80
            - name: https
              containerPort: 443
            - name: healthz
              containerPort: 10254
      nodeSelector:
        kubernetes.io/os: linux
      terminationGracePeriodSeconds: 300
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-lb
  labels:
    app: nginx-ingress-lb
spec:
  type: LoadBalancer
  externalTrafficPolicy: Local
  loadBalancerIP: "{{ .Values.ingress_ip }}"
  ports:
  - port: 80
    name: http
    targetPort: 80
  - port: 443
    name: https
    targetPort: 443
  selector:
    k8s-app: nginx-ingress-controller
---
apiVersion: networking.k8s.io/v1
kind: IngressClass
metadata:
  labels:
    app.kubernetes.io/component: controller
  name: nginx
  annotations:
    ingressclass.kubernetes.io/is-default-class: "true"
spec:
  controller: k8s.io/ingress-nginx
---
apiVersion: v1
kind: Service
metadata:
  name: nginx-ingress-controller-metrics
  labels:
    app: nginx-ingress-controller-metrics
spec:
  ports:
    - port: 10254
      name: healthz
  selector:
    k8s-app: nginx-ingress-controller
  type: ClusterIP
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: nginx-ingress-controller-metrics
  labels:
    prometheus: kube-prometheus
spec:
  endpoints:
    - port: healthz
      relabelings:
        - sourceLabels: [__meta_kubernetes_pod_node_name]
          targetLabel: instance
  selector:
    matchLabels:
      app: nginx-ingress-controller-metrics
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-dashboards-json
  labels:
     grafana: "1"
data:
  nginx.json: |-
{{ .Files.Get "files/nginx.json" | indent 4 }}
  request-handling-performance.json: |-
{{ .Files.Get "files/request-handling-performance.json" | indent 4 }}

