apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: grafana
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
  annotations:
    nginx.ingress.kubernetes.io/auth-url: "{{ .Values.gf_ingress_auth_url }}"
    nginx.ingress.kubernetes.io/auth-signin: "{{ .Values.gf_ingress_auth_signin }}"
    nginx.ingress.kubernetes.io/backend-protocol: HTTP
    nginx.ingress.kubernetes.io/rewrite-target: /$2
    # HACK: oauth2-proxy will return 403, but nginx-ingress-controller only handles
    # 401 with an error page.
    nginx.ingress.kubernetes.io/configuration-snippet: |
      error_page 403 = {{ .Values.gf_ingress_error_page_403 }};
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - {{ .Values.domain }}
  rules:
  - host: {{ .Values.domain }}
    http:
      paths:
      - path: /grafana($|/)(.*)
        pathType: Prefix
        backend:
          service:
            name: prom-grafana
            port:
              number: 80
