apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus-relay-server
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus-relay-server
  template:
    metadata:
      labels:
        app: prometheus-relay-server
    spec:
      containers:
      - name: server
        image: {{ .Values.registry }}{{ .Values.images.http_relay_server }}
        args:
        - --port=8080
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 15
        ports:
        - name: http
          containerPort: 8080
      securityContext:
        runAsUser: 65532
        runAsGroup: 65532
---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-relay-server
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    # This is used by the ServiceMonitor.
    app: prometheus-relay-server
spec:
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: prometheus-relay-server
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: prometheus-relay-server
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
  annotations:
    nginx.ingress.kubernetes.io/client-body-buffer-size: "50m"
    nginx.ingress.kubernetes.io/proxy-body-size: "50m"
    nginx.ingress.kubernetes.io/rewrite-target: /server/$2
    nginx.ingress.kubernetes.io/auth-url: "http://token-vendor.default.svc.cluster.local/apis/core.token-vendor/v1/token.verify?robots=true"
spec:
  ingressClassName: nginx
  tls:
  - hosts:
    - {{ .Values.domain }}
  rules:
  - host: {{ .Values.domain }}
    http:
      paths:
      - path: /apis/core.prometheus-relay/server($|/)(.*)
        pathType: Prefix
        backend:
          service:
            name: prometheus-relay-server
            port:
              number: 80
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: prometheus-relay-server
  labels:
    app.kubernetes.io/name: {{ .Chart.Name }}
    prometheus: kube-prometheus
spec:
  endpoints:
  - port: http
  selector:
    matchLabels:
      app: prometheus-relay-server
