apiVersion: v1
kind: Service
metadata:
  name: kubernetes-relay-server
  labels:
    # This is used by the ServiceMonitor.
    app: kubernetes-relay-server
spec:
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: kubernetes-relay-server
  type: ClusterIP
