domain: "example.com"
project: "my-gcp-project"
deploy_environment: "GCP"
registry: "gcr.io/my-gcp-project"

# Setting app_management to "false" will remove layer 2 (app-rollout/chart-assignment-controller, etc).
app_management: "true"

# Setting cr_syncer to "false" will remove the cr-syncer.
cr_syncer: "true"

# Setting fluentd to "false" will remove the fluentd stackdriver integration.
fluentd: "true"
# docker_data_root should match "data-root" in /etc/docker/daemon.json.
docker_data_root: "/var/lib/docker"

# Setting robot_authentication to "false" will remove layer 1 resources that are not
# needed when simulating a robot with a GKE cluster, such as the
# metadata-server or gcr-credential-refresher.
robot_authentication: "true"

robot:
  name: ""

webhook:
  enabled: "true"
