name: Check Bazel

on:
  workflow_call:

permissions:
  contents: read
  id-token: write

jobs:
  check-bazel:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # tag=v6.0.0
      - name: Auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # tag=v3.0.0
        with:
          create_credentials_file: true # also sets GOOGLE_APPLICATION_CREDENTIALS
          service_account: "github-automation-bot@gha-crc-dev.iam.gserviceaccount.com"
          workload_identity_provider: "projects/1043719249528/locations/global/workloadIdentityPools/github-automation/providers/crc-dev"
      - name: Print error on auth fail
        if: failure()
        run: |
          echo >&2 "This PR appears to be from a fork or authored by a non-org member, rather than from the primary repo."
          echo >&2 "This means it can't run the presubmit, which requires access to GCR."
          echo >&2 "If you are a project member, please push your branch to github.com/googlecloudrobotics/core instead."
          exit 1
      - name: Run .github/ci/presubmit.sh
        run: ./.github/ci/presubmit.sh
      - name: Get bazel server logs
        if: success() || failure()
        run: cat ~/.cache/bazel/_bazel_*/*/java.log || true
