name: Postsubmit

on:
  schedule:
    - cron: "0 4 * * *" # Once a day at 4am.
  # Manual runs through Actions tab in the UI
  workflow_dispatch:
    inputs:
      force-binary-release:
        description: >-
          force-binary-release: Set to non-empty when running from main to
          create a binary release that can be used by 'Create release'.

permissions:
  contents: read
  id-token: write

concurrency:
  group: integration_test
  cancel-in-progress: true

jobs:
  call-bazel:
    uses: ./.github/workflows/check-bazel.yml

  integration-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # tag=v6.0.1
      - name: Auth
        uses: google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093 # tag=v3.0.0
        with:
          create_credentials_file: true # also sets GOOGLE_APPLICATION_CREDENTIALS
          service_account: "github-automation-bot@gha-crc-dev.iam.gserviceaccount.com"
          workload_identity_provider: "projects/1043719249528/locations/global/workloadIdentityPools/github-automation/providers/crc-dev"
      - name: Run integration_test.sh on Cloud Build
        env:
          MANUAL_RUN: "${{ github.event_name == 'workflow_dispatch' && inputs.force-binary-release == '' }}"
        run: |
          gcloud builds submit \
            --project robco-integration-test \
            --region europe-west1 \
            --config .github/ci/integration_test_cloudbuild.yaml \
            --substitutions _GITHUB_SHA=${GITHUB_SHA},_MANUAL_RUN=${MANUAL_RUN}
